{{#link-to 'index' class='navbar-brand'}}<img src="/images/clustar_logo_neg_white.png" alt="clustar">{{/link-to}}

<ul class="nav navbar-nav pull-right visible-xs-block">
  <li>
    <a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a>
  </li>
  <li>
    <a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a>
  </li>
  <li>
    <a class="sidebar-mobile-secondary-toggle"><i class="icon-more"></i></a>
  </li>
</ul>